.wrapper {
    width: 400px;
}
.profile_wrap, .details_wrap {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.Listing_wrap {
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.profile_wrap img,
 .Listing_wrap img,
 .details_wrap img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.profile_wrap h2, .details_wrap h2 {
    margin: 0;
}

.Listing_wrap ul li {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px 0;
}
.Listing_wrap ul li h3,
 .Listing_wrap ul li p ,
 .details_wrap p,
 .details_wrap h3{
    margin: 0;
    padding: 0 10px;
}
.Listing_wrap ul li h3, .details_wrap h3 {
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.Listing_wrap ul {
    padding-left: 0;
    margin: 0;
}
.App {
    display: flex;
}
.detail-wrap {
    width: calc(100% - 400px);
}
.chat_wrap {
    padding: 10px;
}

.chat_wrap p {
    background: #67676a;
    color: #fff;
    padding: 5px 20px;
    text-transform: capitalize;
    border-top-right-radius: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 15px;
    width: max-content;
    font-size: 14px;
    float: right;
}
.chat_wrap h4 {
    background: #4bc9f0;
    color: #000;
    padding: 5px 20px;
    text-transform: capitalize;
    border-top-left-radius: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 15px;
    width: max-content;
    font-size: 14px;
}

.login_wrapper {}

.login_wrapper {}

.login_wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #000;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.login_wrapper h2 {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.login_wrapper input {
    padding: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid #837d7d;
    border-radius: 5px;
}

.login_wrapper button {
    background: #000;
    color: #fff;
    font-size: 18px;
    padding: 8px 10px;
    width: 100%;
    /* max-width: 200px; */
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
}

.login_wrapper label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}